<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <meta property="wb:webmaster" content="77d4ad9d2fa58652" />
    <title>{% if page.path == 'index.html' %}{{ site.name }}{% else %}{% unless page.id %}{{ site.name }} - {% endunless %}{{ page.title }}{% endif %}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link rel="stylesheet" href="/media/css/style.css" />
    <link rel="stylesheet" href="/media/css/highlight.css" />
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
	
	<!-- some other meta -->
	{% if page.url == "/404.html" %}
		<meta http-equiv="refresh" content="5; url=/">
	{% endif %}
  </head>
  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-48887175-1', 'hijiangtao.github.io');
	  ga('send', 'pageview');
  </script>
  
  <!--a script to set the timer-->
  <script type="text/javascript">
    function setTimeSpan(){
            var date = new Date();
            timeSpan.innerText=date.format('yyyy-MM-dd hh:mm:ss');
    }
    
    Date.prototype.format = function(format)
                {
    var o =
            {
                "M+" : this.getMonth()+1, //month
                "d+" : this.getDate(),    //day
                "h+" : this.getHours(),   //hour
                "m+" : this.getMinutes(), //minute
                "s+" : this.getSeconds(), //second
                "q+" : Math.floor((this.getMonth()+3)/3),  //quarter
                "S" : this.getMilliseconds() //millisecond
            }
            if(/(y+)/.test(format))
            format=format.replace(RegExp.$1,(this.getFullYear()+"").substr(4 - RegExp.$1.length));
            for(var k in o)
            if(new RegExp("("+ k +")").test(format))
            format = format.replace(RegExp.$1,RegExp.$1.length==1 ? o[k] : ("00"+ o[k]).substr((""+ o[k]).length));
            return format;
                }
  </script>
  <body onLoad="setInterval(setTimeSpan,1000);">
    <div id="container">
      <div id="main" role="main">
        <header>
        <h1>{{ page.title }}</h1>
        
        </header>
        <nav><!--Define the Navigation links-->
		<span><a title="我的主页" class="" href="/">HOME</a></span>
        <span><a title="博客首页" class="" href="/blog/">Data.Blog</a></span>
        <span><a title="文章分类" class="" href="/blog/categories/">CATEGORIES</a></span>
        <span><a title="标签索引" class="" href="/blog/tags/">TAGS</a></span>
        <span><a title="友情链接" class="" href="/blog/links/">LINKS</a></span>
        <span><a title="留言版" class="" href="/blog/guestbook/">GUESTBOOK</a></span>
        <span><a title="关于作者" class="" href="/blog/about/">ABOUT</a></span>
		<span><a title="梦想实验室" class="" href="/blog/laboratory/" target="_blank">LAB</a></span>
        <span><a title="RSS订阅" class="" href="/feed/" target="_blank">SUBSCRIBE</a></span>
        <hr>
		<span>
          <form>
          <input type="text" placeholder="Data.Blog Search!" id="st-search-input" class="st-search-input" style="width: 100px"/>
          </form>
          
          <script type="text/javascript">
          var Swiftype = window.Swiftype || {};
            (function() {
              Swiftype.key = 'uovyVvHHubhbsiKKMDpK';
          
              /** DO NOT EDIT BELOW THIS LINE **/
              var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
              script.src = "//s.swiftypecdn.com/embed.js";
              var entry = document.getElementsByTagName('script')[0];
              entry.parentNode.insertBefore(script, entry);
            }());
          </script>
        </span>
        </nav>
        <article class="content">
        <!-- Place this div where you would like the results to be displayed. -->
        <!--<div id="st-results-container"></div>-->
        {{ content }}
        </article>
      </div>
	  
	  <div class="btn_top" title="Back to Top" style="position: fixed; bottom: 100px; right: 100px; cursor: pointer;"><a id="dynamic-to-top" href="javascript:;" target="_self" title="Back to Top"><img src="/assets/back_top.png" style="width:31px; height:31px;"></a></div>
		<script type="text/javascript">
		scrollTopRun = function(){
		var scrollHeight = $(document).scrollTop();
		var screenWidth = $(window).width();
		if(screenWidth <= 1024 && scrollHeight == 0 ){
		$(".btn_top").hide();
		}else{
		if(scrollHeight > 0){
		$(".btn_top").show();
		$(".btn_top").unbind();
		$(".btn_top").bind("click",function(){
		$('body,html').animate({ scrollTop: 0 }, 500);
		});
		}else{
		$(".btn_top").hide();
		}
		}
		setTimeout("scrollTopRun()",500);
		};
		scrollTopRun();
		</script>
	  
    <footer><!--footer settings-->
        <p><small>
            Powered by <a href="http://jekyllrb.com" target="_blank">Jekyll</a>&<a href="http://github.com/hijiangtao/hijiangtao.github.io" target="_blank" title="项目主页">GitHub</a>
             | Copyright©{{site.time | date:"%Y"}} <a href="/" target="_blank">{{ site.author }}</a> 
             | <a href="/blog/about/">About me</a>
             | <script src="http://s22.cnzz.com/z_stat.php?id=1000257487&web_id=1000257487" language="JavaScript"></script>
			 | <span class="label label-info" id="timeSpan"></span>
         </small></p>
    </footer>

    </div>
  </body>
</html>
